* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}

#mood-image {
  height: 200px;
}

.mood-slider {
  width: 100%;
  height: 5px;
  background-color: #CCCCCC;
  color: white;
  border-radius: 5rem;
}

.mood-slider::-webkit-slider-thumh, .mood-slider::-moz-range-thumb {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}