body {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

label {
  text-align: start;
  color: yellow;
}

input {
  width: 100vh;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  height: 30px;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}