* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 15rem;
    margin-right: 15rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #111;
}

header {
    height: 5rem;
    padding: .5rem;
    background: white;
    border-bottom: 1px solid #E6E6EF;
    display: flex;
    align-items: center;
}

.brand-logo {
    height: 4rem;
    float: left;
}

.brand_title {
    margin-left: 1rem;
    float: right;
    font-size: 2.5rem;
    font-weight: bold;
}

.btn {
    border-radius: .5rem;
    height: max-content;
    padding: .5rem;
    border: none;
}

.btn-danger {
    color: white;
    background-color: #DC2626;
}

#fetch {
    position: absolute;
    right: 15rem;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}

.grid {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: 1fr;
}

@media (min-width: 700px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    background: white;
    border: 1px solid #E6E6EF;
    border-radius: 0.75rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 200ms ease, filter 200ms ease;
}

.card:hover {
    transform: scale(1.1);
}

.cardContent {
    height: 3rem;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 3rem;
    padding-left: 1rem;
}

.card img {
    background-color: #F3F4F6;
    width: 100%;
    height: 12rem;
    object-fit: scale-down;
}

.card .content {
    padding: 0.75rem;
}

.card h3 {
    font-size: 1rem;
}